.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  padding: 10px;
}

.nav-links {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logout-btn {
  background: transparent;
  border: 2px solid white;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: white;
  color: #282c34;
}
