.auth-container {
    width: 95vw; 
    max-width: 1900px; 
    margin: 0 auto; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    width: 100%; 
    max-width: 1800px;
    text-align: center;
    padding: 20px;
}
