.JobCard {
    background: rgba(255, 255, 255, 0.9);
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .JobCard h3 {
    color: #333;
  }
  
  .JobCard p {
    color: #555;
  }
  
  .JobCard button {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .JobCard button:hover {
    background-color: #444;
  }
  
